td {
    width: 4em;
    height: 4em;
    border: 1px solid black;
    text-align: center;
    background-color: blue;
}

div {
    border: 1px solid black;
    width: 30.5em;
    height: 40px;
    display: inline-block;
    background-color: black;
}

.div1 {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    margin: 0em 1em 0em 1em;
    padding:.48em;
    background-color: blueviolet;
}

#pion {
    background-color: red;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

